@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  font-family: "Balsamiq Sans", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgb(111, 111, 111); */
  /* color: white; */
}

/* Utility stylings */
.flex {
  display: flex;
  align-items: center;
}

.mb30 {
  margin-bottom: 30px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb10 {
  margin-bottom: 10px;
}

.pl30 {
  padding-left: 30px;
}

.relative {
  position: relative;
}

/* nav elements */
.nav {
  background-color: rgb(0, 0, 0);
  min-height: 80px;
}

.nav-container {
  justify-content: space-between;
  /* background-color: orange; */
  min-height: 80px;
  width: 70%;
  margin: 0 auto;
}

.nav-logo {
  font-size: 36px;
  font-weight: normal;
  color: white;
}

.nav-links {
  flex: 2;
  /* background-color: blue; */
  justify-content: flex-start;
}

.nav-links ul {
  list-style-type: none;
  justify-content: flex-start;
}

.nav-links li {
  padding-left: 30px;
}

.nav-links a {
  color: rgb(193, 193, 193);
  text-decoration: none;
  font-size: 20px;
  font-weight: normal;
}

span {
  /* font-weight: bold; */
  color: rgb(228, 228, 228);
}

#sign-out {
  width: 100px;
  height: 36px;
  box-shadow: 5px 5px black;
  color: white;
  background-color: rgb(0, 153, 175);
  font-size: 22px;
  border-style: none;
}

/* main elements */
.main {
  justify-content: space-between;
  align-items: flex-start;
  /* background-color: green; */
  min-height: 600px;
  width: 70%;
  margin: 0 auto;
}

/* main left elements */
.main-left {
  /* background-color: purple; */
  min-height: 600px;
  margin-right: 30px;
  flex: 2;
}

.profile-card {
  /* background-color: red; */
  min-height: 400px;
}

.user-photo {
  width: 120px;
  height: 120px;
  border: 6px solid lightgray;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  left: 30px;
}

.top-bar {
  background-color: rgb(0, 153, 175);
  min-height: 100px;
}

.lower-bar {
  background-color: white;
  min-height: 300px;
  border-bottom: 4px solid lightgray;
  border-left: 4px solid lightgray;
  border-right: 4px solid lightgray;
  padding-top: 70px;
}

.lower-bar h1 {
  font-size: 36px;
  font-weight: normal;
}

.location h2 {
  margin-left: 12px;
}

.map-icon {
  width: 15px;
}

.user-skills h3 {
  font-size: 18px;
}

.settings-gear-icon {
  width: 25px;
}

a {
  color: rgb(19, 107, 223);
  font-size: 20px;
  font-weight: normal;
  margin-left: 12px;
}

.education-card {
  background-color: white;
  min-height: 200px;
}

.sub-header {
  background-color: black;
  min-height: 50px;
  font-weight: normal;
  color: white;
  padding-left: 30px;
  padding-top: 15px;
}

.edu-date {
  color: gray;
  font-weight: normal;
}

.edu-description {
  font-weight: normal;
}

/* main right elements */
.main-right {
  /* background-color: rgb(177, 92, 1); */
  min-height: 600px;
  flex: 1;
}

.connect-request {
  background-color: darkorange;
  min-height: 200px;
}

.connections {
  background-color: greenyellow;
  min-height: 350px;
}
